<div class="content-wrapper-with-bottombar">
  <div class="container", style="height: 75%;">
    <div class="row" style="height: 100%; padding-bottom: 10px;">
      <div class="col-12 col-lg-6" style="display: flex; flex-direction: column">

        <div class="datasource-top">
          <h1><%= @datasource.name %> Data</h1>
          <p class="avatar"><i class="fas fa-user"></i></p>
        </div>

        <div class="displays">
          <%# default display %>
          <div class="default-display">
            <h4 class="greysubtitle">Digital footprint</h4>

            <div class="digital-footprint">

              <div class="digital-footprint-score">
                <div class="display-score">
                  <h1 class="fatpurpletitle">€860,63</h1>
                  <%= image_tag @google.photo, class:"datasource-logo" %>
                </div>
                <div class="meter">
                  <span style="width: 70%"></span>
                </div>
                <p class="purpletext">Privacy score</p>
              </div>

              <h4 class="purpletitle">Your google profile</h4>
              <div class="datasource-content" style="padding-bottom: 10px">
                <p class="greysubtitle">Ads Clicked</p>
                <p class="greysubtitle">405</p>
              </div>
              <div class="datasource-content" style="padding-bottom: 10px">
                <p class="greysubtitle">Companies shared with</p>
                <p class="greysubtitle">34</p>
              </div>
              <div class="datasource-content" style="padding-bottom: 10px; border-bottom: 1px solid lightgrey;">
                <p class="greysubtitle">Data uploaded</p>
                <p class="greysubtitle">35.1 GB</p>
              </div>
              <div class="datasource-content" style="padding-top: 10px">
                <p class="greysubtitle">Accounts connected</p>
                <p class="greysubtitle">1</p>
              </div>

            </div>
          </div>

          <%# when the user click on a insight %>
          <div class="insights-display opacity">
            <div class="displays">
              <div class="insights" id="locations-insights">
                locations
              </div>
              <div class="insights" id="interests-insights">
                interests
              </div>
              <div class="insights" id="ads-insights">
                ads
              </div>
              <div class="insights" id="yt-insights">
                yt
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container">
    <h4 class="greysubtitle" id="data-insights-title">Data Insights</h4>
  </div>

  <div class="carousel">
    <div class="data-insights-container">

      <div class="data-insights-card current" id="digital-footprint">
        <i class="fas fa-shoe-prints"></i>
        <h4 class="whitetitle mt-2 mb-0">Digital</h4>
        <h4 class="whitetitle">footprint</h4>
      </div>

      <div class="data-insights-card" id="locations">
        <i class="fas fa-map-marker-alt"></i>
        <h4 class="whitetitle mt-2">Locations</h4>
      </div>

      <div class="data-insights-card" id="interests">
        <i class="far fa-lightbulb"></i>
        <h4 class="whitetitle mt-2">Interests</h4>
      </div>

      <div class="data-insights-card" id="ads">
        <i class="fas fa-dollar-sign"></i>
        <h4 class="whitetitle mt-2">Ads</h4>
      </div>

      <div class="data-insights-card" id="youtube-channels">
        <i class="fab fa-youtube"></i>
        <h4 class="whitetitle mt-2 mb-0">Youtube</h4>
        <h4 class="whitetitle">Channels</h4>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>
