<div class="content-wrapper-with-bottombar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">

        <div class="datasource-top">
          <h1><%= @datasource.name %></h1>
          <p class="avatar"><i class="fas fa-user"></i></p>
        </div>

        <div class="privacy-score">
          <%# we will need to add the logo in the datasource model %>
          <i class="fab fa-google"></i>
          <p class="whitetitle">Privacy score</p>
          <h1 class="score-header"></h1>
          <hr>
          <p class="whitetitle">date</p>
        </div>

        <div class="datasource-selection">
          <div class="datasource-logo-selection">
            <i class="fab fa-google"></i>
          </div>
          <div class="datasource-logo-selection">
            <i class="fas fa-plus"></i>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <h4 class="greysubtitle">Data valuation</h4>
          <%= link_to "Details" %>
        </div>

        <div class="data-valuation">
          <div class="data-valuation-details">
            <p class="avatar"></p>
            <div class="data-valuation-values">
              <p>Data value</p>
              <h4>€860,63</h4>
            </div>
            <p>September</p>
          </div>

          <div class="data-valuation-details">
            <p class="avatar"></p>
            <div class="data-valuation-values">
              <p>Data value</p>
              <h4>€860,63</h4>
            </div>
            <p>September</p>
          </div>

          <div class="data-valuation-details">
            <p class="avatar"></p>
            <div class="data-valuation-values">
              <p>Data value</p>
              <h4>€860,63</h4>
            </div>
            <p>September</p>
          </div>
        </div>

        <h4 class="greysubtitle">Data Insights</h4>

      </div>
    </div>
  </div>

  <div class="data-control-carousel">
    <div class="data-control-container">
      <%= link_to datasource_locations_path(@datasource) do %>
        <div class="data-control-card" id="locations">
          <i class="fas fa-map-marker-alt"></i>
          <h4 class="whitetitle mt-2">Locations</h4>
        </div>
      <% end %>

      <div class="data-control-card" id="interests">
        <h4 class="whitetitle">Interests</h4>
      </div>

      <div class="data-control-card" id="advertisements">
        <h4 class="whitetitle"></h4>
      </div>

      <div class="data-control-card" id="youtube-channels">
        <h4 class="whitetitle"></h4>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/bottombar', datasource: @datasource %>



