// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$jicama-light-gray: rgb(236, 235, 235);
$jicama-grey-text: rgb(168, 168, 168);
$jicama-purple: #7551F3;
$jicama-black: #0A0A0A;
$jicama-dark-grey: #2B2A35;
$jicama-grey: #A8A8A8;
$jicama-light-grey: #FBFBFB;
$jicama-red: #DB0000;
$jicama-green: #007C64;
$jicama-yellow: #FCB111;
