.datasource-selection {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.datasource-logo-selection {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  padding: 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.data-valuation {
  box-shadow: 0 0px 40px rgba(0,0,0,0.08);
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  flex-grow: 1;
  height: 30vh;

  .data-valuation-logo {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 20px 6px rgba(0, 0, 0, 0.12);
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: #2B2A35;
    width: 38px;
    height: 38px;
    margin-right: 19px;
    margin-top: px;
    border: 0.5px solid #2B2A35;
    i {
    color: white;
    font-size: 19px;
    }
  }
}

.data-valuation-details {
  display: flex;
  margin: 20px 10px;
}

.data-valuation-values {
  flex-grow: 1;

}

.autofilter-setting, .display-score, .datasource-selection {
  display: flex;
  justify-content: space-between;
}

.logo-design {
  transition: all 0.3s ease;
  border-radius: 50px;
  background-color: white;
  padding: 15px;
  margin: 5px;
  width: 60px;
  height: 60px;
  box-shadow: 0 0px 12px 1px rgba(0, 0, 0 , 0.08);

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  &:active {
    border: 1px solid #7551F3;
    opacity: 0.25;
  }

  .fa-plus:before {
      width:50px;
      height: 50px;
      content: "\f067";
      text-align: center;
      font-size: 25px;
      position: relative;
      bottom: -2px;
      left: 4px;
      color: #7551F3;
  }
}

.datasources-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1Fr;
}
