.datasource-selection {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.datasource-logo-selection {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  padding: 5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.data-valuation {
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.08);
  padding: 20px 10px;
  background-color: white;
  border-radius: 20px;
  flex-grow: 1;
  margin-bottom: 0px;
  height: 35.5vh;

  .data-valuation-logo {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 20px 1px rgb(231, 230, 236);
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: #ffffff;
    width: 38px;
    height: 38px;
    margin-right: 19px;
    i {
    color: #7551F3;
    font-size: 19px;
    }
  }
}

.data-valuation-details {
  display: flex;
  margin: 0px 10px 10px;
  align-items: center;
}

.data-valuation-values {
  flex-grow: 1;

}

.autofilter-setting, .display-score, .datasource-selection {
  display: flex;
  justify-content: space-between;
}

.logo-design {
  transition: all 0.3s ease;
  border-radius: 50px;
  background-color: white;
  padding: 15px;
  margin: 5px;
  width: 60px;
  height: 60px;
  box-shadow: 0 0px 12px 1px rgba(0, 0, 0 , 0.08);
  text-align-last: center;

  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  .fab, .fas {
    font-size: 30px;
    opacity: 0.8;
  }

  .fas {
    position: relative;
    font-size: 25px;
    color: $jicama-purple;
    bottom: -3px;
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.fa-question-circle {
  color: #5c5c5c;
  position: relative;
  bottom: 5px;
  right: 5px;
}

.datasources-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1Fr;
  margin-bottom: 10px;
  justify-items: center;
  row-gap: 10px;
}
