.displays {
  position: relative;
  display: flex;
  height: 100%;
}

.default-display {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 3;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease;
}

.insights-display {
  z-index: 5;
  width: 100%;
  transition: all 0.3s ease;
}

.digital-footprint, .insights-display {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  flex-grow: 1;
}

.insights {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  z-index: 5;
}

.insights-map {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  z-index: 5;
  overflow: hidden;
}

.scrollable {
  background-color: white;
  background: linear-gradient(rgba(246, 244, 244, 0), white 100%);
  z-index: 10000;
  position: sticky;
  width: 100%;
  height: 20px;
  bottom: 0px;
}

.digital-footprint-score {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.datasource-content {
  display: flex;
  justify-content: space-between;
}

.data-insights-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.data-insights-card {
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  margin: 0px 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $jicama-purple;
  i {
    color: white;
    font-size: 25px;
  }
}

.current {
  transition: all 0.3s ease;
  opacity: 0.8;
}
.opacity {
  transition: all 0.55s ease;
  opacity: 0;
  z-index: 4;
}


.rectangle-container {
  width: 250px;
  height: 15px;
  border: 1px solid $jicama-light-gray;
}

.rectangle-fill-1 {
  width: 250px;
  height: 15px;
  background-color: black;
}


.rectangle-fill-2 {
  width: 150px;
  height: 15px;
  background-color: black;
}

.rectangle-fill-3 {
  width: 90px;
  height: 15px;
  background-color: black;
}

.video-score p {
  margin-bottom: 0px;
  font-weight: lighter;
}
