#datacontrol-purple-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
}

.datacontrol-card {
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.08);
}

.company-rating-btn {
  display: flex;
  text-align: left;
}
