.displays {
  position: relative;
  display: flex;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.default-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 3;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease;
}

.insights-display {
  z-index: 5;
  width: 100%;
  transition: all 0.3s ease;
  padding: 0px 15px;
  padding-top: 0px;
}

.digital-footprint {
  padding: 15px;
}

.digital-footprint, .insights-display {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  flex-grow: 1;
}

.insights {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  z-index: 5;
  .card-boxless {
    padding-top: 0px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    p {
      font-weight: lighter;
      text-align: left;
      font-size: 14px;
      margin-bottom: 0px;
      align-self: flex-end;
    }
  }
}

.insights-map {
  position: absolute;
  height: calc(100% + 15px);
  width: calc(100% + 30px);
  justify-content: center;
  text-align: center;
  z-index: 5;
  overflow: hidden;
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  border-radius: 20px;
}

.scrollable {
  background-color: white;
  background: linear-gradient(rgba(246, 244, 244, 0), white 100%);
  z-index: 10000;
  position: sticky;
  width: 100%;
  height: 20px;
  bottom: 0px;
}

.digital-footprint-score {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.datasource-content {
  display: flex;
  justify-content: space-between;
}

.data-insights-container {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.data-insights-card {
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin: 0px 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $jicama-purple;
  i {
    color: white;
    font-size: 25px;
  }
}

.current {
  transition: all 0.3s ease;
  opacity: 0.8;
}
.opacity {
  transition: all 0.55s ease;
  opacity: 0;
  z-index: 4;
}

.rectangle-container-horizontal {
  width: 250px;
  height: 5px;
  background-color: lightgrey;
  // border: 1px solid $jicama-purple;
  border-radius: 6px;
}

.rectangle-fill-horizontal  {
  height: 5px;
  background-color: $jicama-purple;
  border-radius: 6px;
  border: 1px solid $jicama-purple;
}

.rectangle-container-vertical {
  width: 50px;
  height: 150px;
  background-color: lightgrey;
  // border: 1px solid $jicama-purple;
  border-radius: 6px;
  margin-right: 5px;
}

.rectangle-fill-vertical  {
  width: -50px;
  background-color: $jicama-purple;
  border-radius: 6px;
  border: 1px solid $jicama-purple;
}

.video-score p {
  margin-bottom: 0px;
  font-weight: lighter;
  border-radius: 6px;
}

#map {
  height: 55vh;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.insights-logo {
  position: absolute;
  left: 0px;
  color: $jicama-light-gray;
}
