.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dee2e6;
}

.google-login img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.separator {
  position: relative;
  color: #7551F3;
  margin-bottom: 25px;
  &:before, &:after {
    width: 40%;
    height: 1px;
    content: " ";
    background-color: #dee2e6;
    position: absolute;
    top: 50%;
  }
  &:before {
    left: -50%;
  }
  &:after {
    right: -50%;
  }
}

.user_password {
  margin-bottom: 30px;
}

.form-inputs {
  label {
    align-self: center;
    width: 120px;
  }
}
.form-check {
  label {
    align-self: center;
    width: 150px;
  }
}