
.items-flex {
  display: flex;
}

.title-action {
  margin: 15px;
  text-align: center;
}


.tuto-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  .tuto {
    width: 100vw;
    height: 100vh;
    flex: none;
    padding: 20px;
    img {
      height: 30vh;
      width: 100%;
    }
  }
  .dots {
    width: 3px;
    height: 3px;
  }
}

.tuto-instructions {
  p {
    text-align: center;
  }
}
