.tuto-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  .tuto {
    width: 100vw;
    height: 90vh;
    flex: none;
    padding: 20px;
    scroll-snap-align: start;
    .card-style {
      position: relative;
      padding: 30px 20px 50px 20px;
      height: 100%;
      .title-action {
        margin: 15px 45px 20px 45px;
        text-align: center;
      }
      img {
        height: 30vh;
        width: 100%;
        margin-bottom: 20px;
        object-fit: contain;
      }
      .tuto-instructions {

        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          text-align: center;
        }
        a {
          text-align: center;
          color: $jicama-purple;
        }
      }
      .tuto-end {
        position: absolute;
        bottom: 50px;
        width: 88%;
        text-align: -webkit-center;
        .dots {
          display: flex;
          justify-content: space-evenly;
          width: 30%;
          margin-left: 35%;
          margin-right: 35%;
          margin-top: 30px;
          margin-bottom: 45px;
          .dot-fill {
            width: 20px;
            height: 10px;
            border-radius: 15px;
            background-color: $jicama-purple;
          }
          .dot-empty {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $jicama-grey;
          }
        }
        .next-button {
          width: 100%;
          height: 30px;
          border-radius: 15px;
          background-color: $jicama-black;

          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          display: flex;
          justify-content: center;
          align-content: center;
          padding: 3px;
          color: white;
        }
        .done-button {
          width: 100%;
          height: 30px;
          border-radius: 15px;
          background-color: $jicama-purple;
          display: flex;
          justify-content: center;
          align-content: center;
          padding: 3px;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          color: white;
        }
      }
    }
  }

}

.upload-file-btn {
  display: flex;
  justify-content: left;
  align-items: center;
}
