<% if alert %>
  <% if devise_controller? %>
    <div class="alert" style="bottom: 90px;" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p class="mb-0"><%= alert %></p>
    </div>
  <% end %>
<% end %>

<% if notice %>
  <% if devise_controller? %>
    <div class="alert notice-flash" style="top: 70px;" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p class="mb-0"><%= notice %></p>
    </div>
  <% end %>
<% end %>
