<div class="footer">
<div class="container" >
  <div class="row">
    <div class="col-12 col-lg-6">
        <div class="d-flex">
          <h1 class="top-margin">Jicama</h1>
          <%= image_tag "jicama-logo-white.png", class: "footer-img" %>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <a class= "icon-spaced" href="url">FAQ</a>
          <a class="social-media" href="url"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <a class= "icon-spaced" href="url">Company</a>
          <a class="social-media" href="url"><i class="fab fa-twitter"></i></i></a>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <a class= "icon-spaced" href="url">Press</a>
          <a class="social-media" href="url"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <a class= "icon-spaced" href="url">Careers</a>
          <a class="social-media" href="url"><i class="fab fa-instagram"></i></a>
        </div>
          <a class= "icon-spaced" href="url">Contact</a>
      </div>
          <a class="short-button-light" class="legal-info" style="margin: 100px 0 15px 10px;">English</a>
        <div class="container">
          <div class="mt-3 mb-3">
            <div class="d-flex mb-2">
              <a href="url" class="legal-info" style="margin-right: 10px;">Legal Notice</a>
              <a href="url" class="legal-info">Privacy Policy</a>
            </div>
            <a href="url" class="legal-info">Terms & Conditions</a>
          </div>
        </div>
        <div class="container" id="floor">
          <p style="margin-bottom: 30px; text-align: justify;">Jicama International LLC is a company registered in Germany. Jicama is in conformity with the GDPR and CCPA and will never access or share your data. For questions please contact the Jicama team any time. </p>
          <div style="margin: 25px 0px;" class="footer-copyright center"> <p>©Jicama 2021 - all rights reserved</p></div>
        </div>
    </div>
</div>
