    <h4>Configure Auto-Filter</h4>
    <div class="autofilter-setting">
      <div>
        <p class=""></p>
        <p>Sensitive info denial</p>
      </div>
      <div>
        <input type="checkbox" id="switch" class="checkbox" />
        <label for="switch" class="toggle">
        <p>OFF    ON</p>
        </label>
      </div>
    </div>
    <div class="autofilter-setting">
      <div>
        <p class=""></p>
        <p>Sell Data Securely</p>
      </div>
      <div>
        <input type="checkbox" id="switch" class="checkbox" />
        <label for="switch" class="toggle">
        <p>OFF    ON</p>
        </label>
      </div>
    </div>
    <div class="autofilter-setting">
      <div>
        <p class=""></p>
        <p>Blabla</p>
      </div>
      <div>
        <input type="checkbox" id="switch" class="checkbox" />
        <label for="switch" class="toggle">
        <p>OFF    ON</p>
        </label>
      </div>
    </div>
    <div class="autofilter-setting">
      <div>
        <p class=""></p>
        <p>Blabla</p>
      </div>
      <div>
        <input type="checkbox" id="switch" class="checkbox" />
        <label for="switch" class="toggle">
        <p>OFF    ON</p>
        </label>
      </div>
    </div>
