<div class="d-flex justify-content-end mb-2">
  <button type="button" 
          class= "button-info-purple" 
          data-trigger="focus" 
          data-container="body" 
          data-html="true"
          data-toggle="popover" 
          data-placement="left" 
          data-content="Add a new Datasource to Jicama with your own credentials ">
    <i class="far fa-question-circle"></i>
  </button>
</div>

<div class="datasources-grid">
  <div class="logo-design">
    <%= cl_image_tag("jicama/facebook_logo.png") %>
  </div>
  <div class="logo-design">
    <%= cl_image_tag("jicama/spotify_logo.png") %>
  </div>
  <div class="logo-design">
    <%= cl_image_tag("jicama/twitter_logo.png") %>
  </div>
  <div class="logo-design">
    <%= cl_image_tag("jicama/instagram_logo.png") %>
  </div>

</div>