<div class="datasources-grid">
  <div class="logo-design">
    <i class="fab fa-facebook"></i>
  </div>
  <div class="logo-design">
    <i class="fab fa-instagram"></i>
  </div>
  <div class="logo-design">
    <i class="fab fa-twitter"></i>
  </div>
  <div class="logo-design">
    <i class="fab fa-spotify"></i>
  </div>
  <div class="logo-design">
    <i class="fab fa-github"></i>
  </div>
</div>