<div class="datasources-grid">
  <div class="logo-design">
    <%= cl_image_tag("jicama/facebook_logo.png") %>
  </div>
  <div class="logo-design">
    <%= cl_image_tag("jicama/spotify_logo.png") %>
  </div>
  <div class="logo-design">
    <%= cl_image_tag("jicama/twitter_logo.png") %>
  </div>
  <div class="logo-design">
    <%= cl_image_tag("jicama/instagram_logo.png") %>
  </div>

</div>