<div class="datasources-grid">
  <div style="text-align: center;">
    <div class="logo-design">
      <i class="fab fa-facebook"></i>
    </div>
    <p class="greytext">Facebook</p>
  </div>
  <div style="text-align: center;">
    <div class="logo-design">
      <i class="fab fa-instagram"></i>
    </div>
    <p class="greytext">Instagram</p>
  </div>
  <div style="text-align: center;">
    <div class="logo-design">
      <i class="fab fa-twitter"></i>
    </div>
    <p class="greytext">Twitter</p>
  </div>
  <div style="text-align: center;">
    <div class="logo-design">
      <i class="fab fa-spotify"></i>
    </div>
    <p class="greytext">Spotify</p>
  </div>
  <div style="text-align: center;">
    <div class="logo-design">
      <i class="fab fa-github"></i>
    </div>
    <p class="greytext">Github</p>
  </div>
</div>