<div class="container">
  <div class="row">
    <div class="col-6 col-lg-12">
      <h1>Jicama</h1>
      <h3>Own your data, own your future</h3>
      <%= link_to "Join now with Google", user_google_oauth2_omniauth_authorize_path, class = "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 col-lg-12">
      <h2>Today’s data economy is opaque</h2>
      <div class="cards">
        <h5>Who owns your data and uses it?</h5>
      </div>
      <div class="cards">
        <h5>How to take back control?</h5>
      </div>
      <div class="cards">
        <h5>Where is your personal data?</h5>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 col-lg-12">
      <h2>Jicama leads the way to a user-centric and secure data economy</h2>
      <ul>
        <li>Understand value</li>
        <li>Control information-flow</li>
        <li>Monetize data</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 col-lg-12">
      <h2>Take back control in 3 steps</h2>
      <div class="cards">
        <h5>1. Collect</h5>
        <p>Collect data from your favorite websites and apps.</p>
      </div>
      <div class="cards">
        <h5>2. View</h5>
        <p>Get an overview of your digital footprint. Understand what companies know about your data.</p>
      </div>
      <div class="cards">
        <h5>3. Control</h5>
        <p>Choose which information companies can and can't access.</p>
      </div>
       <%= link_to "Get started!", user_google_oauth2_omniauth_authorize_path, class = "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 col-lg-12">
      <h2>Let's data talk about data</h2>
      <%# source: https://dataprivacymanager.net/100-data-privacy-and-data-security-statistics-for-2020/ %>
      <p>84% care about privacy, their own data, the data of other members of society, and want more control over how their data is being used</p>
      <p>81% feel they have little or no control over the data collected</p>
      <p>79% have adjusted privacy-related settings on their social media accounts or reduced their social media usage</p>
      <p>Facebook owns 80% of the market share of social media platforms
      <p>Google owns 90% of the market share of search engines</p>
       <%= link_to "Try it yourself", user_google_oauth2_omniauth_authorize_path, class = "btn btn-primary" %>
    </div>
  </div>
</div>
