<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Your turn!</h1>
      <h4>Follow these steps to help us analyze your data:</h4>
      <ol>
        <li class="title-action">1. Sign in to Google Takeout</li>
        <ol>
          <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li>Make sure you are connected on your Google account</li>
          </div>
           <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li><%= link_to "Go on your Google Takeout account", "https://takeout.google.com/settings/takeout?pli=1", target: :_blank%></li>
          </div>
        </ol>
        <li class="title-action">2. Select the datafiles to download</li>
        <ol>
          <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li>Unselect all the options</li>
          </div>
          <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li>Select :</li>
            <ul style="m0">
            <li>Chrome</li>
            <li>Location History</li>
            <li>Profile</li>
            <li>YouTube and YouTube Music</li>
            <li>My Activity</li>
            </ul>
          </div>
          <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li>Click on "next step"</li>
          </div>
        </ol>
        <li class="title-action">3. Create the export</li>
        <ol>
          <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li>Make sure frequency is 1 export</li>
          </div>
          <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li>Click on "create export"</li>
          </div>
        </ol>
        <li class="title-action">4. You are almost set!</li>
        <ol>
        <div class="items-flex">
            <i class="fas fa-check", style="color: green"></i>
            <li><a href="https:">Upload your data</a></li>
          </div>
        </ol>
      </ol>
      <%= link_to "Done", datasource_path(@google), class: "short-button" %><br />
    </div>
  </div>
</div>
