.alert {
  transition: all 0.3s ease;
  position: fixed;
  right: 10px;
  left: 10px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid #ae97ff;
  padding: 10px 20px;
  margin: 0px;
}

.swal-modal {
  border-radius: 20px;
}

.swal-icon--success__line {
  background-color: $jicama-green;
}

.swal-icon--info::before, .swal-icon--info::after {
  background-color: $jicama-yellow;
}

.swal-icon--info {
  border-color: $jicama-yellow;
}
