.bottombar {
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  height: 50px;  
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;

  i, .bottombar-link {
    color: black;
    cursor: pointer;
    height: 20px;
    width: auto;
    opacity: 0.3;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
  } 
}



