.bottombar {
  box-shadow: 0 1px 8px rgba(0,0,0,0.08);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.bottombar-link {
  opacity: 0.5;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .atom {
    color: black;
    cursor: pointer;
    height: 40px;
    width: auto;
    align-self: center;
  }
  .shield {
    color: black;
    cursor: pointer;
    height: 33px;
    width: auto;
    align-self: center;
    margin-bottom: 3px;
  }
  .jicama-logo-bottom {
    color: black;
    cursor: pointer;
    height: 37px;
    width: auto;
  }
  .bottom-bar-text {
    font-weight: 700;
    align-self: center;
  }
}
#datasource-button,
#datacontrol-button {
  width: 60px;
  align-self: center;
}


@media(max-height: 750px) {
  #dashboard-button {
    bottom: 0px !important;
    padding: 8px !important;
  }

  .bottombar-link {
    .greytext {
      display: none;
    }
  }
}
