button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.transp-button {
  background-color: transparent;
  height: 50px;
  width: 200px;
  color: white;
  border: #fff;
}

.short-button {
  padding: 15px 55px;
  background-color: white;
  border-radius: 50px;
  margin: 10px 0px;
  color: black;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
  box-shadow: 0px 0px 32px 3px white;
  a {
    color: black;
  }
  &:active {
    text-decoration: none;
    color: black;
    background-color: white;
  }
}

.short-button-black {
  transition: all 0.3s ease;
  padding: 10px 55px;
  background-color: white;
  border-radius: 50px;
  margin: 10px 0px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  -webkit-text-decoration: bolder;
  text-decoration: none;
  border: 0.5px solid black;

  &:active {
    text-decoration: none;
    color: white;
    background-color: black;
  }
}

.short-button-light {
  transition: all 0.3s ease;
  padding: 5px 21px;
  background-color: black;
  border-radius: 50px;
  margin: 10px 0px;
  color: white;
  font-size: 15px;
  font-weight: normal;
  -webkit-text-decoration: bolder;
  text-decoration: none;
  border: 0.5px solid white;

  a {
    color: white;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 600;
  }
  &:active {
    text-decoration: none;
    color: black;
    background-color: white;
  }

}

.small-button, .swal-button, .swal-button-confirm {
  transition: all 0.3s ease;
  background-color: white;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #7551F3;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: #7551F3;
  font-size: 12px;
  font-weight: 600;
  width: 75px;

  &:active {
    color: white;
    background-color: #7551F3;
  }
  .button_to {
    input:disabled {
      border:rgba(0,0,0, 0.3);
      opacity: 0.3;
    }
  }
}

.small-button-green {
  color: $jicama-green;
  border: 1px solid $jicama-green;
  &:active {
    color: white;
    background-color: $jicama-green;
  }
}

.small-button-red {
  color: $jicama-red;
  border: 1px solid $jicama-red;
  &:active {
    color: white;
    background-color: $jicama-red;
  }
}

.small-button-yellow {
  color: $jicama-yellow;
  border: 1px solid $jicama-yellow;
  &:active {
    color: white;
    background-color: $jicama-yellow;
  }
}

#button-control {
  width: 100px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  height: 25px;
  margin-top: 1px;
}

.small-button-white {
  transition: all 0.3s ease;
  background-color: #7551F3;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid white;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  width: 100px;

  &:active {
    color: #7551F3;
    background-color: white;
    border: 1px solid #7551F3;
  }
  .button_to {
    input:disabled {
      opacity: 0.3;
    }
  }
}

.buttontext {
  cursor: pointer;
  color: #7551F3;
  font-size: 15px;
  font-weight: 600;
}

.button-info {
  font-size: 20px;
  transition: all 0.3s ease;
  color: $jicama-grey;
  .fa-question-circle {
    position: relative;
    bottom: 5px;
    right: 5px;
  }
  &:active {
    color: black;
  }
}

#button-setting-autofilter {
  &:active {
    color: $jicama-grey;
  }
}

#dashboard-button {
  padding: 15px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
  opacity: 0.7;
  bottom: 20px;
  position: relative;
  margin: 0px 5px;
}

#auto-filter {
  border-radius: 20px;
  width: 130px;
  font-size: 14px;
  color: white;
  border: 1px solid $white;
  background-color: $jicama-dark-grey;
  &:active {
    color: $jicama-dark-grey;
    background-color: $white;
    border: 1px solid $jicama-dark-grey;
  }
}
