.content-wrapper {
  min-height: calc(100vh - 50px - 50px);
}

.content-wrapper-with-bottombar {
  height: calc(100vh - 50px - 50px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
