.search-bar {
  display: flex;
  border: 1px solid $jicama-light-gray;
  border-radius: 30px;
  width: 100%;
  justify-items: center;
  padding: 5px;
  place-content: space-around;
  margin-bottom: 5px;
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.search-bar-item-1 {
  width: 40%;
  border-right: 1px solid $jicama-light-gray;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 10px;
  p {
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
  }
  input {
    width: 100%;
    border-style: none;
    font-size: 14px;
    border-bottom: 1px solid $jicama-light-gray;
  }
}

.search-bar-item-2 {
  width: 40%;
  p {
    margin-bottom: 0px;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
  }
  input {
    width: 100%;
    border-style: none;
    border-bottom: 1px solid $jicama-light-gray;
    font-size: 14px;
  }
}

form.simple_form.search {
  text-align: -webkit-center;
}

.search {
  button {
    color: $jicama-grey-text;
  }
}
