.search {
  width: 95%;
}

.search-bar {
  display: flex;
  border: 1px solid $jicama-light-gray;
  box-shadow: 0 2px 0px rgba(0,0,0,0.08);
  border-radius: 30px;
  width: 100%;
  justify-items: center;
  align-items: center;
  padding: 5px;
  place-content: center;
  margin-bottom: 10px;
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
      color: transparent;
  }
}

.search-bar-item-1 {
  border-right: 1px solid $jicama-light-gray;
  margin-right: 15px;
  padding-right: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
  height: 30px;
  label {
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 15px;
    text-align: left;
  }
  input {
    width: 90px;
    border-style: none;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    flex-grow: 1;
    background-color: transparent;
  }
}

.search-bar-item-2 {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
  height: 30px;
  label {
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 15px;
    text-align: left;
  }
  input {
    width: 90px;
    border-style: none;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    flex-grow: 1;
    background-color: transparent;
  }
}

form.simple_form.search {
  text-align: -webkit-center;
}

.search {
  button {
    color: $jicama-grey-text;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
