.greysubtitle {
  color: #A5A5A5;
  font-size: 14px;
}

.whitetitle {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.fatwhitetitle {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.purpletitle {
  color: #7551F3;
  font-weight: bold;
  font-size: 16px;
}

.greytext {
  color: #A5A5A5;
  font-size: 12px;
  margin-bottom: 0px;
}

.whitetext {
  color: white;
  font-size: 12px;
  margin-bottom: 0px;
}