.greysubtitle {
  color: #5d5d5d;
  font-weight: 500;
  font-size: 16px;
}
.purplesubtitle {
  color: $jicama-grey;
  font-size: 18px;
}

.whitetitle {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.fatwhitetitle {
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.fatblacktitle {
  color: #2c2b34;
  font-weight: bold;
  font-size: 28px;
  opacity: 1;
}

.middleblacktitle {
  color: #2c2b34;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
}

.smallblacktitle {
  color: #2c2b34;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
}

.greytext {
  .middleblacktitle {
    margin: 0px;
  }
}

.score-display {
  .middleblacktitle {
    margin-bottom: 0px;
    margin-top: 12px;
  }
}

.fatpurpletitle {
  color: #7551F3;
  font-weight: bold;
  font-size: 28px;
}

.purpletitle {
  color: #7551F3;
  font-weight: bold;
  font-size: 18px;
}

.blacktitle {
  color: #484553;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0px;
}

.greytext {
  color: $jicama-header-grey;
  font-size: 15px;
  margin-bottom: 0px;
  align-self: baseline;
  font-weight: 500;
  p {
    text-align: left;
  }
}

.whitetext {
  color: white;
  font-size: 15px;
  margin-bottom: 0px;
}

.blacktext {
  color: black;
  font-size: 14px;
  margin-bottom: 0px;
}

.purpletext {
  color: #7551F3;
  font-size: 15px;
  margin-bottom: 0px;
}

#score-percentage {
  color: #e9e9e9;
  font-size: 30px;
  font-weight: lighter;
}

.app-header {
  margin-top: 15px;
}

.subtitle {
  color: #484553;
  font-weight: normal;
  margin-bottom: 8px;
  font-weight: bold;
}

.fa-circle {
  font-size: 15px;
}
